[Unit]
Description=backup service for leo's tp

[Service]
Type=oneshot
Environment="PREBACKUP=/etc/systemd/system/prebackup.sh"
Environment="BACKUP=/etc/systemd/system/backup.sh"
Environment="POSTBACKUP=/etc/systemd/system/postbackup.sh"
User=backup
PIDFILE=/var/run/backup.pid
ExecStartPre=sudo ${PREBACKUP}
ExecStart=sudo  ${BACKUP}
ExecStartPost=sudo ${POSTBAKUP}

[Install]
WantedBy=multi-user.target